<a href="https://colab.research.google.com/github/Souvik-karmakar/DivineAI_Python/blob/main/Lab_Practise(updated).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# Take 4 lists and put the first 3 dictionaries into the 4th one

d1 = {"name":"Souvik", "age":21}
d2 = {"college":"KIIT", "Sec":"EEE-4"}
d3 = {"subject":6, "lab":3}
d4 = {}
d4.update(d1)
d4.update(d2)
d4.update(d3)
print (d4)

{'name': 'Souvik', 'age': 21, 'college': 'KIIT', 'Sec': 'EEE-4', 'subject': 6, 'lab': 3}

In [5]:
# Create a dictionary of address using "name", "address", "street", "state" and print all the values using string formater

d = {"name":"Ramesh", "address":"Patia", "street":"KIIT road", "state":"Odisha"}
print ("Name: {}, Address: {}, Street: {}, State: {}".format(d['name'], d['address'], d['street'], d['state']))

Name: Ramesh, Address: Patia, Street: KIIT road, State: Odisha

In [ ]:
#Qno3- Write a program to multiply all elements of dictionary 
#Input:- FruitDict = {'Apple': 10, 'banana': 5,'orange':4,'Guava':6} 
#Output:- 1200
FruitDict = {'Apple': 10, 'banana': 5,'orange':4,'Guava':6} 
print(FruitDict.values())
m=1
for i in FruitDict.values():
  m=m*i
print(m)

dict_values([10, 5, 4, 6])
1200

In [7]:
# Create a user input dictionary having two key:value pair and check whether one of the key given by you is pesent in the dictionary 
#Input:- {hari:59,sunny:60} Checking_input:- hari  
#Output:- hari=59
d1 = {}
print ("Enter 2 key value pairs")
for i in range(2):
    key = input()
    value = int(input())
    d1[key] = value
print (d1)
x = input("Enter the key you want to search:")
if (x in d1):
    print (x, "=", d1[x])

Enter 2 key value pairs
hari
59
sunny
60
{'hari': 59, 'sunny': 60}
Enter the key you want to search:hari
hari = 59

In [ ]:
d1 = {"name":"Ramesh", "address":"Patia", "street":"KIIT road", "state":"Odisha"}
print ("Name: {}, Address: {}, Street: {}, State: {}".format(d1['name'], d1['address'], d1['street'], d1['state']))

Name: Ramesh, Address: Patia, Street: KIIT road, State: Odisha

In [ ]:
#Qno-Write a Python program to sort a list of tuples using Lambda. 
#Input: [('Eng', 88), ('Sci', 90), ('Maths', 97), ('Sst', 82)]
 #Output: [('Sst', 82), ('Eng', 88), ('Sci', 90), ('Maths', 97)]
marks = [('Eng', 88), ('Sci', 90), ('Maths', 97), ('Sst', 82)]
marks.sort(key = lambda x: x[1])
print(marks)

[('Sst', 82), ('Eng', 88), ('Sci', 90), ('Maths', 97)]

In [ ]:
#Qno- Define a function with two arguments a and b. Check if a is equal to 1 then return 'coming from if',check if b is equal to 1 ,then return 'coming from elif' otherwise return 'no condition is satisfied'
def func(a,b):
  if(a==1):
    print("coming from if")
  elif(b==1):
    print("coming from elif") 
  else:
    print("no")  
func(1,2)

coming from if

In [ ]:
#Qno-Take a Dictionary as given in input.Find the average of phy subject from the dict using function 
#Input:- dict={1:{'name':'Ram','Mark':{'phy':56,'chem':78}},2:{'name':'Hari','Mark':{'phy':76,'chem':88}}} 
#Output:- 66.0
def avg(a,b):
    s=a+b
    avg=s/2
    return avg
dict1={1:{'name':'Ram','Mark':{'phy':56,'chem':78}},2:{'name':'Hari','Mark':{'phy':76,'chem':88}}}
mark=avg(dict1[1]['Mark']['phy'],dict1[2]['Mark']['phy'])
print(mark)

66.0

In [9]:
#or
def avg(x):
    s = 0
    count = 0
    for i in x.values():
        s = s + i['Mark']['phy']
        count = count + 1
    avg = s / count
    return avg

dict={1:{'name':'Ram','Mark':{'phy':56,'chem':78}},2:{'name':'Hari','Mark':{'phy':76,'chem':88}}}
print (avg (dict))

66.0