In [1]:
#WAP TO PRINT TABLE OF N
x=int(input("Enter the number")) 
for i in range(1,100):
    print(x*i)

Enter the number5
5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95
100
105
110
115
120
125
130
135
140
145
150
155
160
165
170
175
180
185
190
195
200
205
210
215
220
225
230
235
240
245
250
255
260
265
270
275
280
285
290
295
300
305
310
315
320
325
330
335
340
345
350
355
360
365
370
375
380
385
390
395
400
405
410
415
420
425
430
435
440
445
450
455
460
465
470
475
480
485
490
495

In [11]:
#WAP TO PRINT SUM OF N NATURAL NUMBERS
n=int(input("Enter the value of n:"))
sum=0
for i in range(1,n):
    sum=sum+i
print(sum)

Enter the value of n:5
10

In [2]:
#WAP TO PRINT FACTORIAL OF THE GIVEN NUMBER
n=int(input("input any number:"))
fact=1
for i in range(1,n+1):
    fact=fact*i
print(fact)

input any number:5
120

In [ ]:
# wap to input salea of the month and calculate the average sales of that month
num=int(input("enter the no of sales of the month"))
a=[]
for i in range(0,n):
    b=int(input("enter the values of sales"))
    a.append(b)
avg=sum(a)/n
print(avg)